@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #555;
  --text-color-2: #8a8a8a;
  --highlight-color: #ff523b;
  --dark-highlight-color: #563434;
  --bg-color: #ffd6d6;
}
body {
  font-family: "Poppins", sans-serif;
}

/* global */
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.logo {
  max-width: 250px;
  height: 60px;
}
.navList {
  display: flex;
  gap: 0.9rem;
  font-size: 1.2rem;
}
.navItem {
  font-weight: 400;
}
.cart-img {
  width: 24px;
  height: 24px;
}
.nav-btn {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: transparent;
  display: none;
}

/* main */
.container {
  max-width: 1400px;
  width: 100%;
  margin: 1rem auto;
}
.small-container {
  max-width: 1080px;
  width: 100%;
  margin: 5rem auto;
}

/* home section starts */
.home,
.offer {
  background: radial-gradient(#fff, var(--bg-color));
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
.col {
  flex-basis: 50%;
  min-width: 300px;
}
.col-1 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  line-height: 60px;
  margin: 24px 0;
}
.col-1 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--text-color-2);
  line-height: 30px;
}
.col-2 img {
  width: 100%;
  padding: 50px 0;
}
.col-1 h2 {
  font-weight: 400px;
  font-size: 1rem;
  padding-bottom: 50px;
  color: var(--text-color-2);
}
.col-1 h3 {
  font-size: 3.2rem;
  line-height: 3.7rem;
  margin-bottom: 20px;
}
.link {
  display: inline-block;
  margin-top: 50px;
  padding: 10px 30px;
  background-color: var(--highlight-color);
  color: white;

  font-weight: 400;
  border-radius: 30px;
}
.min-container {
  margin: 3rem auto 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 1rem;
}
.min-container img {
  max-width: 300px;
  height: 400px;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 400px;
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: var(--text-color);
}
.subtitle::after {
  content: "";
  position: absolute;
  background-color: var(--highlight-color);
  width: 100px;
  height: 6px;
  border-radius: 10px;
  bottom: 0;
  right: 45%;
}
.single-product-image {
  height: 400px;
}
/* offer */
.offer-img {
  height: 600px;
}
/* testimony */
.testimonies {
  padding-top: 50px;
}
.testimony {
  max-width: 400px;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
}
.testimony-icon {
  color: var(--highlight-color);
  font-size: 1.8rem;
}
.testimony-desc {
  font-weight: 400;
  color: var(--text-color-2);
  line-height: 30px;
  text-align: center;
  padding: 10px 0;
}
.testimony div {
  margin-top: 10px;
  text-align: center;
}
.testimony .testimony-img {
  max-width: 50px;
  height: 50px;
  border-radius: 50px;
}

/* product page starts */

.section--1 {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 2rem;
  font-weight: 700;
}

/* con */
.product-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  align-content: center;
  justify-items: center;
}
/* card */
.red {
  color: red;
}
.card--img {
  background-color: silver;
  max-width: 237px;
  height: 400px;
}

/* spinner */
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* media query */
/* 1024px - 920px */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .testimony {
    max-width: 350px;
  }
}
/* 920 - 700px */
@media screen and (max-width: 920px) {
  .container {
    max-width: 700px;
  }
  .min-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    align-items: center;
    justify-items: center;
  }
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimony {
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .header .navList {
    position: absolute;
    top: 8rem;
    right: 1rem;
    width: 30%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: 1s;
    background-color:var(--bg-color);
    border-radius: 5px;
    box-shadow: 0px 0px 80px 0px rgb(0, 0, 0, 0.1);
    z-index: 1;
    transform: translateY(-10vh);
  }
  .nav-btn {
    display: block;
  }
  .header .responsive-nav {
    transform: translate(-120vh);
  }
  .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 1rem;
  }
}
/* 700 - 630px */
@media screen and (max-width: 700px) {
  .container {
    max-width: 600px;
    margin: 1rem;
  }
 
  .min-container {
    column-gap: 0.5rem;
  }
}
@media screen and (max-width: 650px) {
  .container {
    max-width: 400px;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .min-container {
    column-gap: 0.5rem;
    grid-template-columns: 1fr;
  }

  .product-container {
    grid-template-columns: 1fr;
  }
  .section--1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .container{
    max-width: 280px;
  }
   .col-1 h1{
    font-size:2.1rem;
    line-height: 1.9rem;
   }
   .col-1 p{
    font-size:1.2rem
   }
}
